<ng-container *ngIf="mainData">
  <app-header [contactData]="mainData.contact"></app-header>
  <main class="main">
    <app-home [homeData]="mainData.home"></app-home>
    <app-about [aboutData]="mainData.about"></app-about>
    <app-skills [skillData]="mainData.skills"></app-skills>
    <app-qualification
      [qualificationData]="mainData.qualification"
    ></app-qualification>
    <app-services [servicesData]="mainData.services"></app-services>
    <app-portfolio [portfolioData]="mainData.portfolio"></app-portfolio>
    <app-contact [contactData]="mainData.contact"></app-contact>
  </main>
  <app-footer
    [contactData]="mainData.contact"
    [homeData]="mainData.home"
  ></app-footer>

  <a href="#" class="scrollup" #scrollup id="scroll-up">
    <i class="uil uil-arrow-up scrollup__icon"></i>
  </a>
</ng-container>
