<ng-container *ngIf="contactData">
  <section #section class="contact section" id="contact">
    <h2 class="section__title">Contact Me</h2>
    <span class="section__subtitle"></span>

    <div class="contact__container container grid">
      <div>
        <div class="contact__information">
          <i class="uil uil-phone contact__icon"></i>

          <div>
            <h3 class="contact__title">Call</h3>
            <span
              *ngFor="let call of contactData.calls"
              class="contact__subtitle"
              >{{ call }}</span
            >
          </div>
        </div>
        <div class="contact__information">
          <i class="uil uil-envelope contact__icon"></i>

          <div>
            <h3 class="contact__title">Email</h3>
            <span
              *ngFor="let email of contactData.emails"
              class="contact__subtitle"
              >{{ email }}</span
            >
          </div>
        </div>
        <div class="contact__information">
          <i class="uil uil-map-marker contact__icon"></i>

          <div>
            <h3 class="contact__title">Location</h3>
            <span
              *ngFor="let location of contactData.locations"
              class="contact__subtitle"
              >{{ location }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
