<ng-container *ngIf="portfolioData">
  <section #section class="portfolio section" id="portfolio">
    <h2 class="section__title">Portfolio</h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="portfolio__container container">
      <swiper
        class="swiper-container"
        [config]="swiperConfig"
        (swiper)="onSwiper($event)"
      >
        <ng-template swiperSlide *ngFor="let work of portfolioData?.works">
          <div class="portfolio__content grid">
            <img [src]="work.imgUrl" alt="" class="portfolio__img" />

            <div class="portfolio__data">
              <h3 class="portfolio__title">{{ work.name }}</h3>
              <p class="portfolio__description">{{ work.description }}</p>
              <a
                [href]="work.targetUrl"
                target="_blank"
                class="button button--flex button--small portfolio__button"
              >
                See more
                <i class="uil uil-arrow-right button__icon"></i>
              </a>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </section>
</ng-container>
